<div class="container mt-5">
  <h2>Información básica</h2>
  <div class="form-group row">
    <label for="lastName" class="col-md-4 col-form-label">Primer apellido:</label>
    <div class="col-md-8">
      <div class="form-info">
        <p>{{ clientData.lastName }}</p>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="firstName" class="col-md-4 col-form-label">Primer nombre:</label>
    <div class="col-md-8">
      <div class="form-info">
        <p>{{ clientData.firstName }}</p>
      </div>
    </div>
  </div>
  <button class="btn btn-secondary" (click)="goBack()">Volver</button>
</div>
